.container {
  height: 100% !important;
}

.recipe-card {
  max-width: 300px;
}

.custom-card-title {
  height: 3rem;
}

a {
  text-decoration: none;
  color: inherit;
}


.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}


.loading-col {
  height: 100%;
}
