<div class="container-fluid p-0" style="height: 100vh;">

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <div class="row justify-content-between w-100">

      <div class="col-md-3">
        <a class="navbar-brand" routerLink="">MenuMaker</a>
      </div>

      <div class="col">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/recipes">Recipes</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/api">Api</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Groceries list</a>
            </li> -->
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        
      </div>
    </div>
    

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



  </div>
</nav>


  <mat-sidenav-container class="sidelist">

    <mat-sidenav-content>
      <div id="main-content" class="container bg-light">

        <div 
          class="sidelist-toggle" 
          (click)="sidelist.toggle()"
          [matTooltip]="isSidelistOpened ? 'Close menu list' : 'Open menu list'"
          matTooltipPosition="above">
          <div>
            <mat-icon 
              class="material-symbols-outlined text-danger" 
              [fontIcon]="isSidelistOpened ? 'keyboard_double_arrow_right' : 'keyboard_double_arrow_left'" ></mat-icon>
          </div>
        </div>

        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
    
    <mat-sidenav #sidelist 
      [opened]="isSidelistOpened" 
      (opened)="isSidelistOpened = true" 
      (closed)="isSidelistOpened = false" 
      class="shadow" 
      mode="side" 
      position="end">
      <listcontainer></listcontainer>
    </mat-sidenav>

  </mat-sidenav-container>


</div>

