.front-image {
  width: 100%;
  object-fit: contain;
}

.portions-input {
  border: 0;
  width: 3rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.recipe-section {
  padding: .5rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  height: 100%;
}

.ingredients-table {
  #amount-col {
    width: 3rem;
  }

  #unit-col {
    width: 5rem;
  }

  #ingredient-col {
    width: fit-content;
  }
}