<div class="container page">

  <!-- title and description -->
  <div class="row justify-content-between">
    <div class="col align-items-start">
      <div>
        <h1 class="h3">{{recipe.title}}</h1>
        <p>{{recipe.description}}</p>
      </div>
    </div>
    <div class="col d-flex align-content-end">
      <div class="ms-auto">
        <button (click)="addButtonClicked()" class="btn btn-outline-primary btn-sm" >Add to list</button>
        <!-- <add-recipe-to-list-button [options]="addButtonOptions" [recipeId]="recipe.id" [recipeTitle]="recipe.title"/> -->
      </div>
      
    </div>
  </div>

  @if(recipe.imgPath) {
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-4">
        <img class="front-image" src="{{recipe.imgPath}}">
      </div>
    </div>
  }

  <!-- portions and time -->
  <div class="row">
    <p>
      Portions: 
      <input type="number" min="1" max="50" class="portions-input" [value]="[recipe.portions]" (input)="onPortionsChanged($event)" >
    </p>
    <p>
      Time: {{recipe.timeInMinutes}} minutes
    </p>
  </div>
  
  <!-- ingredients -->
  <div class="row">
    <h5 class="pb-2">Ingredients</h5>
    <div class="col">
      <table class="table table-sm">
        @for(ingr of recipe.ingredients; track ingr.id){
          <tr>
            <td id="amount-col" style="width: 5rem;">
              {{ingr.amount}}
            </td>
            <td id="unit-col" style="width: 5rem;">
              {{ingr.unit}}
            </td>
            <td id="ingredient-col" style="width: fit-content;">
              {{ingr.grocery.name}}
            </td>
          </tr>
        }
      </table>

    </div>
  </div>

  <!-- instructions -->
  <div class="row">
    <h5 class="pb-2">Instructions</h5>
    <div class="col">
      <p>
        {{recipe.instructions}}
      </p>
    </div>
  </div>

</div>

