<div class="container page">

  <!-- title and description -->
  <div class="row justify-content-between">
    <div class="col align-items-start">
      <div>
        <h1 class="h3">{{recipe.title}}</h1>
        <p>{{recipe.description}}</p>
      </div>
    </div>
    <div class="col d-flex align-content-end">
      <div class="ms-auto">
        <button (click)="addButtonClicked()" class="btn btn-outline-primary btn-sm" >Add to list</button>
        <!-- <add-recipe-to-list-button [options]="addButtonOptions" [recipeId]="recipe.id" [recipeTitle]="recipe.title"/> -->
      </div>
      
    </div>
  </div>

  @if(recipe.imgPath) {
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-4">
        <img class="front-image" src="{{recipe.imgPath}}">
      </div>
    </div>
  }

  <!-- portions and time -->
  <div class="row">
    <p>
      Portions: 
      <input type="number" min="1" max="50" class="portions-input" [value]="[recipe.portions]" (input)="onPortionsChanged($event)" >
    </p>
    <p>
      Time: {{recipe.timeInMinutes}} minutes
    </p>
  </div>
  
  
  <div class="row">
    <!-- ingredients -->
    <div class="col col-md-6 col-sm-12">
      <div class="recipe-section">
        <h5 class="pb-2">Ingredients</h5>
        <div class="col">
          <table class="table table-sm ingredients-table">
            @for(ingredient of recipe.ingredients; track ingredient.id){
              <tr>
                <td id="amount-col">
                  {{ingredient.amount}}
                </td>
                <td id="unit-col">
                  {{ingredient.unit}}
                </td>
                <td id="ingredient-col">
                  {{ingredient.grocery.name}}
                </td>
              </tr>
            }
          </table>
        </div>
      </div>
    </div>
    <!-- instructions -->
    <div class="col col-md-6 col-sm-12">
      <div class="recipe-section">
        <h5 class="pb-2">Instructions</h5>
        <div class="col">
          @for(key of instructionsKeys; track key){
            @if(key && key.toLowerCase() !== 'main'){
              <h6>{{key}}</h6>
            }
            @for(instruction of recipe.instructions[key]; track $index) {
              <p class="instructions-step">
                {{instruction}}
              </p>
            }
          }
        </div>
      </div>
    </div>
  </div>
</div>

