<div class="container page">

    <h5>About MenuMaker</h5>
    <p>    
        At the moment, the Web App is in development, and runs on free tiers in Azure, to save development costs.
        For local testing, it is deployed to a microk8s cluster, with a PostgreSQL database on Ubuntu.
    </p>
    <p>
        In this online version, application and database are running on free tiers in Azure. Especially the database is therefore quite slow at cold start.
    </p>
    <p>
        While the WebApp is deployed as a Static WebApp and is permanently accessible, the API and the Azure SQL database each need some time to start up after bein paused.
    </p>

    <h6>Api docs</h6>
    <p>
        An API documentation can be found at <a href="https://menumakerapi.azurewebsites.net/swagger/index.html" target="_blank">https://menumakerapi.azurewebsites.net/swagger/index.html</a>.<br>
        At the moment there are only save HTTP methods are accessible. (Again, database could take a while to start up.)
    </p>
 
</div>