<ul class="list-unstyled groceries-list">
  @for (cat of groceriesListSorted; track cat.name) {
    <li>
      <h5>{{cat.name}}</h5>
      <table class="table-sm">
        @for (grocery of cat.groceries; track grocery.groceryName){
          <tr>
            <td class="gr-amount">{{grocery.amount}}</td>
            <td class="gr-unit">{{grocery.unit}}</td>
            <td class="gr-name">{{grocery.groceryName}}</td>
          </tr>
        }
      </table>

      <mat-divider></mat-divider>
    </li>
  }
</ul>
