<footer class="mm-footer text-secondary">
<div class="container-fluid">
<div class="row justify-content-center">
    <div class="col-auto">
        <ul class="list-inline mb-2">
            <li class="list-inline-item"><a class="footer-link" routerLink="">Home</a></li>
            <li class="list-inline-item"><a class="footer-link" routerLink="about">About</a></li>
        </ul>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-auto">
        <hr class="m-0" style="width: 66vw;">
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-auto pt-2 pb-2">
        MenuMaker - 2023
    </div>
</div>
</div>
</footer>